<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PI---Girls-Code-main/sucessStyle.css">
    <script src="/index.js"></script>
    <title>Sucesso</title>
</head>
<body>
    <h1>SUCESSO NO CADASTRO</h1>
    
    <div>
        <ul id="DadosPessoais"></ul>
        <script>
            fetch(`http://localhost:3306/sucess/<%= dates[0].id_cadastro %>`)
                .then(response => response.json())
                .then(data => {
                    const ul = document.getElementById('DadosPessoais');
                    data.forEach(item => {
                        let li = document.createElement('li');
                        li.textContent = `CPF: ${item.CPF} 
                        \nNome: ${item.Nome} 
                        \nEmail: ${item.Email} 
                        \nSenha: ${item.Senha} 
                        \nCEP: ${item.CEP}`
                        ul.appendChild(li);
                    });
                })
                .catch(error => console.log(error.message));
        </script>
    </div>
</body>
</html>